{% extends 'blog/base.html' %}
{% block title %} <title>About</title> {% endblock title %} 



{% block content %}       
    <div class="col-sm-10">
        <h3 class="text-info my-5 title">About Page</h3>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque excepturi hic fuga, explicabo 
            praesentium commodi amet a nam nulla autem corrupti odit, officia, repellendus fugit mollitia!
             Adipisci praesentium nisi minus?</p>
        <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem vel optio maiores ullam 
            sunt nesciunt omnis nostrum est soluta fuga, quia, deserunt ipsa totam quas illum hic minus, ex 
            ut animi saepe? Facere dolor sequi, laudantium laborum natus debitis ad atque error eligendi ab 
            est, placeat quo repellendus totam nisi.</p>
    </div>
{% endblock content %} 