{% extends 'blog/base.html' %}
{% block title %} <title>Login</title> {% endblock title %} 

{% block msg %}  
    {% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show" {% endif %}>
     <strong>{{message}}</strong> 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endblock msg %} 

{% block content %}  
<div class="col-sm-10">
    <h3 class="text-info my-5 title">Login</h3>
        {% if form.non_field_errors %}
        <ul class="alert alert-danger text-danger">
            {% for error in form.non_field_errors %}
            {{ error }}
            {% endfor %}
        </ul>
        {% endif %}
        <form action="" method="POST" novalidate>
            {% csrf_token %}
            {% for forms in form %}
            <div class="form-group">
               {{forms.label_tag}}
               {{forms}} 
            </div>
             {% endfor %}
             <input type="submit" value="Login" class="btn btn-primary">
       </form>
    </div>  
{% endblock content %} 